.sendForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.textarea {
  background-color: #F5F7FB;
  width: 100%;
  min-height: 40px;
  border-radius: 20px;
  margin: 0 10px 0 0;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}

.button {
  width: 120px;
  height: 40px;
  background-color: #0066CC;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  border: none;
  border-radius: 20px;
}

.button:hover {

}

.button:active {

}
